<!DOCTYPE HTML>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="app">
    <p>This is sample Vue app</p>

    <p><b>v-onでのアクションの登録</b></p>
    <button @click="countUp">countUp</button>
    <p>ここがカウントアップされる -> <span v-html="count"></span></p>

    <p><b>v-modelでの双方向データバインディング - form</b></p>
    <input type="text" v-model="text">
    <p v-html="text"></p>

    <p><b>v-modelでの双方向データバインディング - textarea</b></p>
    <textarea type="text" v-model="desc"></textarea>
    <p v-html="desc" style="white-space: pre-line;"></p>

    <p><b>componentを作成</b></p>
    <item content="hello"></item>
</div>
<script src="https://unpkg.com/vue"></script>
</body>
<script>
    new Vue({
        // describe options
        el: '#app',
        data: {
            count:0,
            text:"",
            desc:""
        },
        methods: {
            countUp: function () {
                this.count++
            },
        }
    },

    // componentを作成
    Vue.component('item', {
        template: '<div><span v-html="content"></span> world</div>',
        props: ['content']
    }))
</script>
</html>
